<script type="text/javascript">
    $(document).on('submit', '#accept-request-form', function (e) {
      e.preventDefault();
      
      $.ajax({
        
        type: 'POST',
        url: '/accept_request',
        data: {
          sender: $('#sender').val(),
          receiver: $('#receiver').val(),
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
          //alert(data)
          console.log(receiver)
        }
      });
      
    });
  </script>