<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="static/img/fav.png">
    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="static/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="static/vendor/slick/slick-theme.min.css" />

    <link href="static/vendor/icons/feather.css" rel="stylesheet" type="text/css">

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    {% block css%} {%endblock css%}
</head>

<body>

    {% include 'goodwill/navbar.html' %}

    {% block body %} {% endblock body%}

    <script src="static/vendor/jquery/jquery.min.js" type="e6753d922fd385173a340352-text/javascript"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        type="e6753d922fd385173a340352-text/javascript"></script>

    <script type="e6753d922fd385173a340352-text/javascript" src="static/vendor/slick/slick.min.js"></script>

    <script src="static/js/vinit.js" type="e6753d922fd385173a340352-text/javascript"></script>
    <script src="static/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="e6753d922fd385173a340352-|49" defer=""></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"71667f68fb6f8a02","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>