<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" href="static/img/fav.png" />
    <title>{{blog.name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick-theme.min.css' %}" />

    <link href="{% static 'vendor/icons/feather.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
    {% include 'goodwill/navbar.html' %}

    <div class="bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex">
                <div class="col-md-4 mx-auto">
                    <div class="vinit-login py-4">
                        <div class="text-center mb-4">
                            <h3 class="font-weight-bold mt-3">Let's Update your former Experience {{request.user.get_short_name}}</h3>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label class="mb-1">Update Designation</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-user position-absolute"></i>
                                    <input type="text" class="form-control" id="designation" name="designation"
                                        value="{{experience.designation}}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mb-1">Update Company</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-home position-absolute"></i>
                                    <input type="text" class="form-control" id="company" name="company"
                                        value="{{experience.company}}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mb-1">Update your Company Image</label>
                                <div class="position-relative icon-form-control">
    
                                    <input type="file" class="btn btn-primary btn-block text-uppercase" id="myfile"
                                        name="myfile" /> <br>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mb-1">Update Joining Date</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-calendar position-absolute"></i>
                                    <input type="text" class="form-control" id="joining_date" name="joining_date"
                                        value="{{experience.joining_date}}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mb-1">Update Resigning Date</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-calender position-absolute"></i>
                                    <input type="text" class="form-control" id="resigning_date" name="resigning_date"
                                        value="{{experience.resigning_date}}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="mb-1">Update About</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-clipboard position-absolute"></i>
                                    <input type="text" class="form-control" id="about" name="about"
                                        value="{{experience.about}}" required>
                                </div>
                            </div>
    
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Update Experience
                            </button>
    
                            <div class="py-3 d-flex align-item-center">
    
                                <span class="m-auto"> Want to skip this for now ? <a class="font-weight-bold"
                                        href="{% url 'profile' %}">My Profile</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="static/vendor/jquery/jquery.min.js" type="2248bbb874aa0cbdfb3fe9a2-text/javascript"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        type="2248bbb874aa0cbdfb3fe9a2-text/javascript"></script>

    <script type="2248bbb874aa0cbdfb3fe9a2-text/javascript" src="static/vendor/slick/slick.min.js"></script>

    <script src="static/js/vinit.js" type="2248bbb874aa0cbdfb3fe9a2-text/javascript"></script>
    <script src="static/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="2248bbb874aa0cbdfb3fe9a2-|49" defer=""></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"71667f99881a8a02","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>