<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" href="static/img/fav.png" />
    <title>{{blog.name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick-theme.min.css' %}" />

    <link href="{% static 'vendor/icons/feather.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
    {% include 'goodwill/navbar.html' %}

    <div class="py-4">
        <div class="container">
            <div class="row">

                <aside class="col col-xl-4 order-xl-1 col-lg-12 order-lg-1 col-12">
                    <main class="col col-xl-12 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                        <div class="box shadow-sm border rounded bg-white mb-3 vinit-share-post">
                            <form class="job-search p-3 border-bottom">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search jobs"
                                        aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">
                                            <i class="feather-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                    aria-labelledby="home-tab">
                                    <div class="p-3 border-top">
                                        <div class="row">
                                            {% for job in jobs %}
                                            <div class="col-md-12">
                                                <a href="{% url 'job_profile' job.id %}">
                                                    <div class="border job-item mb-3">
                                                        <div class="d-flex align-items-center p-3 job-item-header">
                                                            <div class="overflow-hidden mr-2">
                                                                <h5
                                                                    class="font-weight-bold text-dark mb-0 text-truncate">
                                                                    {{job.profession}}</h5>
                                                                <div class="text-truncate text-primary"><span
                                                                        style="font-size: .8rem">by
                                                                        {{job.company_name}}</span></div>
                                                                <div class="small text-gray-500"><i
                                                                        class="feather-map-pin"></i><span>{{job.location}}</span>
                                                                </div>
                                                            </div>
                                                            <img class="img-fluid ml-auto" src="/media/{{job.img}}"
                                                                alt="">
                                                        </div>

                                                        <div class="p-3 job-item-footer">
                                                            <small class="text-gray-500"><i class="feather-clock"></i>
                                                                Posted on {{job.date}}</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </main>

                </aside>

                <main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="blog-card padding-card box shadow-sm rounded bg-white mb-3 border-0">
                                    <img class="img-fluid" src="/media/{{job.img}}" alt="Card image cap" />
                                    <div class="card-body">
                                        <h3>{{job.profession}}'s Job by {{job.company_name}}</h3>
                                        <h6><i class="feather-briefcase"></i> Full Time Job</h6>
                                        <h6><i class="feather-users"></i> 500+ Employees</h6>
                                        <h6><i class="feather-map-pin"></i> {{job.location}}</h6>
                                        <button type="button" class="btn btn-outline-primary btn-sm btn-block">
                                            Apply
                                        </button>


                                        <p>
                                            {{job.about|linebreaks}}
                                        </p>

                                    </div>
                                    <div class="card-footer border-0">
                                        <div class="footer-social">
                                            <span>Share</span> : &nbsp;
                                            <a href="#"><i class="feather-facebook"></i></a>
                                            <a href="#"><i class="feather-twitter"></i></a>
                                            <a href="#"><i class="feather-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>

            </main>

        </div>
    </div>
    </div>

    <script src="static/vendor/jquery/jquery.min.js" type="2248bbb874aa0cbdfb3fe9a2-text/javascript"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"
        type="2248bbb874aa0cbdfb3fe9a2-text/javascript"></script>

    <script type="2248bbb874aa0cbdfb3fe9a2-text/javascript" src="static/vendor/slick/slick.min.js"></script>

    <script src="static/js/vinit.js" type="2248bbb874aa0cbdfb3fe9a2-text/javascript"></script>
    <script src="static/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="2248bbb874aa0cbdfb3fe9a2-|49" defer=""></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"71667f99881a8a02","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>